body {
    height: 100vh;
    height: 100svh;

    display: grid;
    place-items: center;

    font-family: monospace;
}

.container {
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container > div {
    text-align: center;
    font-size: 2rem;
    
    border: 1px solid rgba(0,0,0,.2)
}